@import "tailwindcss";

@theme {
    --color-blackgreen: #090E08;
    --color-textconsole: #0DFF00;
    --color-borderfakewindow: #234022;
    --color-textconsole2: #09AF00;
}

@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

html{
    font-family: 'Kode Mono', monospace;
    color: var(--color-textconsole);
    letter-spacing: 6px;
}

#bg-image2 {
    z-index: 9;
    box-shadow: inset 2px 0px 25px 0px #090E08,
                inset -2px 0px 25px 0px #090E08,
                inset 0 2px 25px 0px #090E08,
                inset 0 -2px 25px 0px #090E08;
}