---
import "./src/styles/global.css";

const bgWidth = 1440;
const bgHeight = 1024;
---

<main class="w-screen h-screen relative overflow-hidden bg-blackgreen">
  <!-- Fondo centrado -->
  <img
    src="/public/assets/bg_portfolio.png"
    alt="bg"
    fetchpriority="high"
    class="absolute z-0"
    style={`
      width: ${bgWidth}px;
      height: ${bgHeight}px;
      margin-left: calc(50% - ${bgWidth/2}px);
      margin-top: calc(50vh - ${bgHeight/2}px);
      object-fit: contain;
    `}
  />
  <!-- Imagen me_bg -->
  <img
    src="/public/assets/me_bg.png"
    alt="me"
    fetchpriority="high"
    id="bg-image2"
    class="absolute z-10"
    style={`
      width: ${bgWidth}px;
      height: ${bgHeight}px;
      margin-left: calc(50% - ${bgWidth/2}px);
      margin-top: calc(50vh - ${bgHeight/2}px);
      object-fit: contain;
    `}
  />
  <!-- Fake window -->
  <div
    id="fake-window"
    class="absolute z-5 border-8 border-textconsole2 rounded-lg shadow-lg shadow-textconsole2"
    style={`
      width: ${bgWidth - 120}px;
      height: ${bgHeight - 120}px;
      margin-left: calc(51% - ${(bgWidth - 100)/2}px);
      margin-top: calc(50vh - ${(bgHeight - 100)/2}px);
      background-color: rgba(0, 0, 0, 0.5);
    `}
  >
    <div
      id="content"
      class="relative flex flex-col items-center justify-center h-full text-textconsole z-10 px-8"
    >
      <div
        id="console-command"
        class="w-full text-2xl font-bold pb-6 border-b-4 border-textconsole2 border-dashed"
      >
      jud@localhost:~$ ./portfolio.sh
    </div>
    <div id="title-page" class="w-full text-center">
        <div id="name" class="w-full text-4xl font-bold py-6 text-textconsole2">
          Juan Diego <br /> Lopez Arias
        </div>
        <div
        id="subtitle"
          class="text-xl font-bold pb-6 border-b-4 border-textconsole2 border-dashed"
        >
        Full Stack Developer
    </div>
      </div>
      <div id="menu" class="w-full text-2xl font-bold pl-4 py-6">
          <ul>
              <li><a href="/about-me">About_Me</a></li>
          <li>
            <a href="/skills-qualifications">Skills_&_Qualifications</a>
        </li>
        <li><a href="/projects">Projects</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
  </div>
</main>
